<Files .htaccess>
	order allow,deny
	deny from all
</Files>

Options -MultiViews
Options +FollowSymLinks
AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
	RewriteEngine on
	# RewriteBase /
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^admin/(.*)$ admin/index.php?q=$1 [L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule ^(.*)$ index.php?q=$1 [L]
</IfModule>
