/* --- Reset
---------------------------------------------------------*/

html, body        { background-color: #fff;padding: 0;margin: 0;height: 100% }
body              { font-size: 85%;line-height: 1.5em;color: #222 }
body              { font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif }

a:link, a:visited { color: #A52B2A;text-decoration: underline }
a:hover, a:active { color: #521414 }
a img             { border: 1px solid #222 }

p                 { margin: 1.5em 0 }
img               { margin: 0;padding: 0 }

h1,h2,h3,h4,h5,h6 { font-weight: normal;color: #333 }

h1                { margin-bottom: 0.5em;font-size: 3em;line-height: 1em }
h2                { margin: 0.75em 0;font-size: 2em }
h3                { margin: 1em 0;font-size: 1.5em;line-height: 1em }
h4                { margin: 1.25em 0;font-size: 1.2em;line-height: 1.25 }
h5                { margin: 1.5em 0;font-size: 1em;font-weight: bold }
h6                { font-weight: bold;font-size: 1em }

blockquote        { margin: 0 1em;font-style: italic;font-size: 0.9em;color: #555 }

pre               { margin: 1.5em 0 1.5em;padding: 0.5em;background: #fefefe;border: 1px dashed #444 }
pre, code         { font-family: Consolas, 'andale mono', 'monotype.com', 'lucida console', monospace;color: #555 }
pre code          { display: block;overflow-x: auto;white-space: pre }

table, th, td     { border-color: #bbb;border-style: solid }
table             { border-collapse: separate;border-spacing: 0;border-width: 0 0 1px 1px }
th, td            { padding: 0.3em 1em;border-width: 1px;border-left-color: #f1f1f1;text-align: left }
th                { background: #eee;border-bottom-color: #ddd;font-weight: bold }
td                { border-bottom-color: #efefef;font-weight: normal }

/* --- Layouts
---------------------------------------------------------*/

#header, #body, #footer { margin: 0 auto;width: 65% }

/* --- Header, and main navigation
---------------------------------------------------------*/

/* Header */
#header { position: relative;padding: 55px 0 0 }
#header h1 { margin: 0 }
#header h1 a:link, #header h1 a:visited { color: #222;text-decoration: none }
#header h1 a:hover, #header h1 a:active { border-bottom: 2px solid #000 }
#header h1 span { font-size: 0.5em;color: #555 }

/* Top navigation bar */
#main-navigation { position: absolute;top: 0;right: 0 }
#main-navigation ul
    { float: left;margin: 0 0 0 1em;padding: 0;list-style: none;
      background: #403b36;padding: 0.5em 1em;color: #807b74;font-size: 0.8em;
      border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;
	  -moz-border-radius-bottomleft: 5px;-moz-border-radius-bottomright: 5px;
	  -webkit-border-bottom-left-radius: 5px;-webkit-border-bottom-right-radius: 5px;
	  border: 1px solid #26221F }
#main-navigation li { display: inline }

#main-navigation a:link, #main-navigation a:visited
	{ color: #fff;text-decoration: none;text-shadow: 1px 1px 1px #000 }
#main-navigation a:hover, #main-navigation a:active { color: #bbb }

/* --- Footer
---------------------------------------------------------*/

#footer { margin-top: 1.5em;border-top: 1px solid #ddd;clear: both }
#footer p { margin: 0;padding: 1em 0;font-size: 0.9em }
#poweredby { float: right }

/* --- Forms
---------------------------------------------------------*/

input, textarea, select
	{ border-width: 1px;border-style: solid;
	  border-color: #9a9a9a #ededed #eee #9b9b9b }
input:focus, textarea:focus, select:focus { outline: none;background: #FFFDEE }

.form-style-one { margin: 1.5em 0;width: 72% }
.form-style-one p { clear: left;overflow: auto }
.form-style-one p.description, .form-style-one p.note
	{ margin-top: -1.2em;font-size:0.8em;width: 75% }
.form-style-one p.note
	{ font-family: "DejaVu Serif", "Bitstream Vera Serif", Serif;color: #555 }
.form-style-one span.description
	{ display: block;margin: 0.5em 0;font-size:0.8em;width: 75% }
.form-style-one .confirm-field { color: #666 }
.form-style-one p.multiple-fields label { float: left;margin-right: 1.5em }
.form-style-one p.non-text-fields label
	{ display: block;margin-top: 0.3em;cursor: pointer }
.form-style-one label strong, .form-style-one p.non-text-fields strong
	{ display: block;cursor: pointer }
.form-style-one label strong span
	{ position: relative;top: -0.6em;font-weight: normal;font-size: 0.65em;
	  color: #971010;cursor: auto }
.form-style-one label input[type=text],
.form-style-one label input[type=password]
	{ padding: 0.3em 0.4em;width: 19em }

.form-style-one p.buttons
	{ margin: 1.5em 1.5em 0 0;padding: 1.5em 0 0;border-top: 1px solid #ddd }
.form-style-one input[type=submit]
	{ background: #eee;padding: 0.4em 0.5em;cursor: pointer;
	  border-width: 1px;border-style: solid;
	  border-color: #aaa #595959 #565656 #ababab }
.form-style-one input[type=submit]:focus
	{ background: #dcdcdc }

.form-style-one label.error-field input
	{ background: #ffdada }
.form-style-one label.error-field input:focus
	{ background: #ffb1b1 }

/* --- Redirect
---------------------------------------------------------*/

.redirect-box
	{ margin: 1.5em auto;padding: 0 1.5em;width: 50% }
.redirect-box h1 { font-size: 1.5em }
.redirect-box .skip-redirect { font-size: 0.8em }
