/* --- Reset
---------------------------------------------------------*/

html, body        { background-color: #fff;padding: 0;margin: 0;height: 100% }
body              { font-size: 85%;line-height: 1.5em;color: #222 }
body              { font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif }

a:link, a:visited { color: #A52B2A;text-decoration: underline }
a:hover, a:active { color: #521414 }
a img             { border: 1px solid #222 }

p                 { margin: 1.5em 0 }
img               { margin: 0;padding: 0 }

h1,h2,h3,h4,h5,h6 { font-weight: normal;color: #444 }

h1                { margin-bottom: 0.5em;font-size: 3em;line-height: 1em }
h2                { margin: 0.75em 0;font-size: 1.8em }
h3                { margin: 1em 0;font-size: 1.5em;line-height: 1em }
h4                { margin: 1.25em 0;font-size: 1.2em;line-height: 1.25 }
h5                { margin: 1.5em 0;font-size: 1em;font-weight: bold }
h6                { font-weight: bold;font-size: 1em }

blockquote        { margin: 0 1em;font-style: italic;font-size: 0.9em;color: #555 }

pre               { margin: 1.5em 0 1.5em;padding: 0.5em;background: #fefefe;border: 1px dashed #444 }
pre, code         { font-family: Consolas, 'andale mono', 'monotype.com', 'lucida console', monospace;color: #555 }
pre code          { display: block;overflow-x: auto;white-space: pre }

table, th, td     { border-color: #bbb;border-style: solid }
table             { border-collapse: separate;border-spacing: 0;border-width: 0 0 1px 1px }
th, td            { padding: 0.3em 1em;border-width: 1px;border-left-color: #f1f1f1;text-align: left }
th                { background: #eee;border-bottom-color: #ddd;font-weight: bold }
td                { border-bottom-color: #efefef;font-weight: normal }

hr                { border: 0;border-top: 1px dotted #aaa;height: 0 }

/* --- Layouts
---------------------------------------------------------*/

#header, #body, #footer { margin: 0 auto;width: 65% }

#admin-content { float: left;width: 75% }
#admin-navigation { float: right;width: 22% }

/* --- Header, and main navigation
---------------------------------------------------------*/

/* Header */
#header { position: relative;padding: 55px 0 1em; border-bottom: 1px solid #ddd }
#header h1 { margin: 0 }
#header h1 a:link, #header h1 a:visited { color: #222;text-decoration: none }
#header h1 a:hover, #header h1 a:active { border-bottom: 2px solid #000 }
#header h1 span { font-size: 0.5em;color: #555 }

/* Top navigation bar */
#main-navigation { position: absolute;top: 0;right: 0 }
#main-navigation ul
    { float: left;margin: 0 0 0 1em;padding: 0;list-style: none;
      background: #403b36;padding: 0.5em 1em;color: #807b74;font-size: 0.8em;
      border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;
	  -moz-border-radius-bottomleft: 5px;-moz-border-radius-bottomright: 5px;
	  -webkit-border-bottom-left-radius: 5px;-webkit-border-bottom-right-radius: 5px;
	  border: 1px solid #26221F }
#main-navigation li { display: inline }

#main-navigation a:link, #main-navigation a:visited
	{ color: #fff;text-decoration: none;text-shadow: 1px 1px 1px #000 }
#main-navigation a:hover, #main-navigation a:active { color: #bbb }

/* --- Footer
---------------------------------------------------------*/

#footer { margin-top: 1.5em;border-top: 1px solid #dcdcdc;clear: both }
#footer p { margin: 0;padding: 1em 0;font-size: 0.9em }
#poweredby { float: right }

/* --- Forms
---------------------------------------------------------*/

input, textarea, select
	{ background: #fff;border-width: 1px;border-style: solid;
	  border-color: #9a9a9a #ededed #eee #9b9b9b }
input:focus, textarea:focus, select:focus { outline: none;background: #FFFDEE }

.form-style-one { margin: 1.5em 0 }
.form-style-one p, .form-style-two p { clear: left;overflow: auto }
.form-style-one p.description
	{ margin-top: -1.2em;font-size:0.8em;width: 40em }
.form-style-one span.description
	{ display: block;margin: 0.5em 0;font-size:0.8em }
.form-style-one .confirm-field { color: #666 }
.form-style-one p.multiple-fields label
    { float: left;margin-right: 1.5em }
.form-style-one p.non-text-fields strong
    { margin-bottom: 0.6em }
.form-style-one p.non-text-fields label
	{ display: block;margin-top: 0.3em;cursor: pointer;font-size:0.8em }
.form-style-one label strong, .form-style-one p.non-text-fields strong
	{ display: block }
.form-style-one label strong
	{ cursor: pointer }
.form-style-one label strong span
	{ position: relative;top: -0.6em;font-weight: normal;font-size: 0.65em;
	  color: #971010;cursor: auto }

label input[type=text],
label input[type=password],
label select, textarea
	{ padding: 0.3em 0.4em;width: 19em }
label[for] { cursor: pointer }
.form-style-one textarea { width: 98% }

.form-style-one p.buttons
	{ margin: 1.5em 0 0;padding: 1.5em 0 0;border-top: 1px solid #ddd }

input[type=submit],
input[type=reset]
	{ background: #eee;padding: 0.4em 0.5em;cursor: pointer;
	  border-width: 1px;border-style: solid;
	  border-color: #aaa #595959 #565656 #ababab }
input[type=submit]:focus,
input[type=reset]:focus
	{ background: #dcdcdc }

label.error-field input, label.error-field textarea
	{ background: #ffdada }
label.error-field input:focus, label.error-field textarea:focus
	{ background: #ffb1b1 }

/* --- Redirect
---------------------------------------------------------*/

.redirect-box
	{ margin: 1.5em auto;padding: 0 1.5em;width: 50% }
.redirect-box h1 { font-size: 1.5em }
.redirect-box .skip-redirect { font-size: 0.8em }

/* --- Administration navigation and content
---------------------------------------------------------*/

#admin-navigation
    { margin: 2em 0 1.5em;border-left: 1px solid #ccc;font-size: 0.8em }
#admin-navigation ul { margin: 0;padding: 0;list-style: none }

#admin-navigation ul a:link, #admin-navigation ul a:visited
    { display: block;padding: 0.5em;text-indent: 1em;color: #333;
      text-decoration: none }

.section-information a.anav-info, .section-options a.anav-options,
.section-groups a.anav-groups, .section-users a.anav-users,
.section-menu a.anav-menu, .section-pages a.anav-pages,
#admin-navigation ul a:hover, #admin-navigation ul a:active
    { background: #eee;padding: 0.5em;text-indent: 1em;color: #333;
      text-decoration: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
	  -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
	  -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px; }

.section-information a.anav-info, .section-options a.anav-options,
.section-groups a.anav-groups, .section-users a.anav-users,
.section-menu a.anav-menu, .section-pages a.anav-pages
    { background: #dedede }

#admin-content h2:first-child
    { margin-top: 0.89em }
#admin-content form { margin-bottom: 0 }

/* --- Misc
---------------------------------------------------------*/

/* Misc */
div.clear { clear: both;height: 0 }
span.disabled-link { color: #666 }
p.note { font-style: italic;color: #e20 }

.align-right { text-align: right }

/* Inline buttons */
input.inline-button, a.inline-button:link, a.inline-button:visited,
a.inline-button:hover
	{ background: #eee;padding: 0.2em 0.3em;cursor: pointer;
	  border-width: 1px;border-style: solid;text-decoration: none;
	  border-color: #aaa #595959 #565656 #ababab;color: #111;
      font-size: 1em }
input.inline-button:focus, a.inline-button:active
	{ background: #dcdcdc }

/* Infolist */
dl.infolist dt
    { width: 150px;font-weight: bold;text-align: right;margin-top: 1em }
dl.infolist dt:first-child
    { margin-top: 0 }
dl.infolist dd { margin-left: 170px }
dl.infolist dt + dd { margin-top: -1.48em }

/* Lists */
.group-list, .user-list
    { margin: 1.5em 0;padding: 0;list-style: none;font-size: 0.9em }
.group-list li:first-child, .user-list li:first-child
    { border-top: 1px solid #ccc }
.group-list li, .user-list li
    { padding: 0.3em 0.5em;border-bottom: 1px solid #ccc;overflow: auto }

.group-list a, .user-list a { text-decoration: none }
.group-list li.row-even, .user-list li.row-even { background: #efefef }
.group-list li.row-odd, .user-list li.row-odd { background: #f9f9f9 }

.group-list .name { float: left;clear: both;width: 21% }
.group-list .description { float: left;width: 59% }
.group-list .actions { float: right;width: 18%;text-align: right }

.user-list .checkbox { float: left;clear: both;width: 4.5% }
.user-list .name { float: left;width: 76.5% }
.user-list .actions { float: right;width: 18%;text-align: right }
.user-list li.marked-row { background: #ffdada }









